@import '../../styles/imports.scss';

.container {
    font-family: 'Roboto', sans-serif; // default font, you can choose 'Lato' or 'Open Sans' as well
    color: white;
    padding: 2em;

    & > section {
        width: 30rem;
        max-width: 100%;

        font-size: medium;

        & > h1 {
            margin-bottom: 2rem;
            font-size: 6rem;
        }

        & > p {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1.6;
            text-align: justify;
            margin-bottom: 1em;

            &:first-of-type {
                font-family: 'Noto Sans', sans-serif;
                font-weight: 800;

                margin-bottom: 1rem;
            }
        }

        @include breakpoint(mobile, max) {
            width: 100%;

            & > h1 {
                font-size: 4rem;
            }

            & > p {
                font-size: 1.2rem;
            }
        }
    }
}
