.container {
    display: flex;
    flex-direction: column;

    border: 1px solid red;
    background-color: transparent;

    .intro {
        flex-basis: 10rem;

        display: flex;

        & > img {
            flex-grow: 1;
            object-fit: contain;
            background-color: black;
        }

        .content {
            padding: 2rem;
            flex-grow: 1;

            h2 {
                font-size: 3rem;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            a {
                height: 1rem;
                width: 3rem;
                padding: 0.5rem;
                border: 1px solid black;
                border-radius: 10px;

                background-color: white;
            }
        }
    }

    .carrossel {
        flex-grow: 1;
    }
}
