.page-tag {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid white;

    color: white;
    background: #202035;

    text-align: left;
    pointer-events: all;
    cursor: pointer;

    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.content {
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid rgb(118, 166, 255);

    color: white;
    background: #202035;

    text-align: left;
    pointer-events: all;
    cursor: pointer;

    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}
