@import '../../styles/imports.scss';

$page-height-padded: $g-page-height-padded;

.container {
    width: 100%;

    .card-wrapper {
        & > :first-child {
            height: $page-height-padded;
        }
    }

    .arrow {
        position: fixed;
        bottom: 1rem;
        left: 20vw;
        height: 10vh;
        width: 2rem;
        height: 2rem;

        border: 1px solid rgba(27, 209, 255, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(-50%);
        cursor: pointer;
    }

    // .project {
    //     margin-bottom: 40px;
    //     background-color: #fff;
    //     padding: 20px;
    //     border-radius: 10px;
    //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    //     h2 {
    //         font-size: 24px;
    //         margin-bottom: 10px;
    //     }

    //     p {
    //         margin-bottom: 20px;
    //     }

    //     .carousel {
    //         display: flex;
    //         overflow-x: auto;

    //         img {
    //             max-width: 200px;
    //             margin-right: 10px;
    //             border-radius: 5px;
    //             transition: transform 0.3s;

    //             &:hover {
    //                 transform: scale(1.1);
    //             }
    //         }
    //     }
    // }
}
