@import '../../styles/imports.scss';

$title-height: 4vh;
$slide-height: calc(98vh - 2vh - #{$title-height}); // padding top+bottom => 2vh
$arrow-height: 10vh;
$card-height: calc(#{$slide-height} - #{$arrow-height});

.container {
    width: 100%;
    height: 98vh;
    padding: 1vh;

    & > h1 {
        height: $title-height;
    }
}

.project-display {
    height: $slide-height;
    overflow-y: hidden;

    .slide {
        height: $slide-height;
        transition: transform 0.2s;

        .arrow-group {
            height: $arrow-height;

            display: flex;
            justify-content: space-around;
            padding: 2rem;

            & button {
                // height: $arrow-height;
            }
        }
    }
}
