@import '../../styles/imports.scss';

$title-height: 4vh;
$slide-height: calc(98vh - 2vh - #{$title-height}); // padding top+bottom => 2vh
$arrow-height: 10vh;
$card-height: calc(#{$slide-height} - #{$arrow-height});

.container {
    width: 100%;
    height: 98vh;
    padding: 1vh;

    & > h1 {
        height: $title-height;
    }
}

.project-display {
    height: $slide-height;
    overflow-y: hidden;

    .slide {
        height: $slide-height;
        transition: transform 0.2s;

        p {
            color: white;
            text-align: left;

            padding: 20px 20px 15px;
            border-radius: 3px;
            box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);

            background: #27293d;

            font-size: 1.5rem;
        }

        .arrow-group {
            height: $arrow-height;

            display: flex;
            justify-content: space-around;
            padding: 2rem;

            & button {
                height: 3rem;
                width: 3rem;

                border-radius: 50%;

                cursor: pointer;

                & > svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
